footer.footer.is-dark.backgroundcus
    .hero-foot
      .container
        .tabs.is-centered
          ul
            li
              |  ©2017 COEN 3463
            li
              a.icon.isboxedpicture(href='#')
                i.fa.fa-github
  script(async='', type='text/javascript', src='/javascripts/bulma.js')
  

