extends landing

block content
  section.hero.is-fullheight.is-dark.backgroundcus
    .hero-body
      .container.has-text-centered
        .columns.is-vcentered
          .column
            h1.title.is-2
              | Concerts and Events Promotions!
            br
            p.has-addons.has-text-centered
              a.button.is-large.is-white.is-outlined(href='/items')
                | Events
              a.button.is-large.is-white.is-outlined(href='/items/add')
                | Add New
              br
              br
              if (user)
                p You are logged in as
                a(href="/profile") #{user.username}
                br
                a(href="/auth/logout") Logout
              else
                a(href='/auth/login')
                  | Login
                strong    |   
                a(href='/auth/register')
                  | Register
    include footer
