doctype html
html
  head
    title= "Concerts and Events"
    meta(property="fb:app_id" content="1846634275597047")
    link(rel='shortcut icon' href='/images/icon.ico' type='image/x-icon')
    link(rel='icon' href='/images/icon.ico' type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    link(rel='stylesheet', href='/stylesheets/list.css')
    link(rel='stylesheet', href='/stylesheets/profile.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/submit.css')
    link(rel='stylesheet', href='/stylesheets/preloader.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    
    
    

  body
    div#fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1846634275597047";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    
    script(type="text/javascript", src="/javascripts/jquery-min.js")
    script(type="text/javascript", src="/javascripts/main.js")
    script(type='text/javascript',src='/javascripts/register.js')
    script(type='text/javascript',src='/javascripts/table.js')
    script(type='text/javascript',src='/javascripts/item.js')
    script(type="text/javascript", src="/javascripts/layout.js")
    script(type='text/javascript',src='/javascripts/preloader.js')
    block content
