extends loginlayout

block content
  section.hero.is-fullheight.is-dark.is-bold
    .hero-head
      .container
        nav.nav
          .container
            .nav-left
              a.nav-item(href='/')
                img(src='/images/bulma-white.png', alt='Description')
            span.nav-toggle
              span
              span
              span
            .nav-right.nav-menu
              a.nav-item(href='/')
                | Home
              a.nav-item.is-active(href='/auth/login')
                | Login
              a.nav-item(href='/auth/register')
                | Register
    .hero-body
      .container
        .columns.is-vcentered
          .column.is-4.is-offset-4
            h1.title
              | Login
            .box
              if (error)
                //--var eArr = []
                //--var e
                //--var a
                //-for e in Object.keys(error.errors)
                //-  eArr.push(e)
                //-for a in eArr
                .notification.is-danger
                  | #{error}
                  //--var er = "#{error}"
                  //--var a = er.slice(1)
                  //-h1= a
              form(role="form", method="POST", action="/auth/login/")
                label.label 
                  | Username
                  input.input(type="text", placeholder="", name="username")
                label.label 
                  | Password 
                  input.input(type="password", placeholder="", name="password")
                p.control
                  .block
                      button.button.is-dark(type="submit" , value="Log In") Log In
                      span        
                      a.btn.btn-link(href="/")
                        button.button.is-dark(type="button") Cancel
                  
  include footer
