extends loginlayout

block content
  .js
    
    nav
    
      ul 
        
       
        li
          a(href='/auth/login') 
            strong LOG IN
        li
          a(href='/auth/register') 
            strong SIGN UP

    .content
      
      form(role='form' action='/auth/login' method='post')
        img.image-logo(src='/images/logo.png')
        .group.w3-center
          h4.w3-center
            strong.w3-text-red  Invalid Username or Password!
        .group
        .group
          input(type='text' name='username')
          span.highlight
          span.bar
          label Username
        .group
          input(type='password' name='password')
          span.highlight
          span.bar
          label Password
        button.button.buttonBlue(type='submit')
          | Login
          .ripples.buttonRipples
            span.ripplesCircle
        
        a(href='/auth/register') 
          i  Don't have an account? Register Now! or
      form(role='form' action='/auth/login/facebook') 
          button.facebook-btn.facebook-login
            i.fa.fa-facebook(aria-hidden='true')
            span login with facebook
       
        

     
    
