    doctype html
html
  head
    title= "CPExpress Deals"
    link(rel='stylesheet', type='text/css', href='/stylesheets/submit.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/w3.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/nav.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/preloader.css')
    
    
  body
    


    
    script(type="text/javascript", src="/javascripts/jquery-min.js")
    script(type='text/javascript',src='/javascripts/preloader.js')
    block content
