.row{
  margin-right: -15px;
  margin-left: -15px;
  display: table;
  width:720px;
  margin:0 auto;
}
.col{
  float:left;
  width: 33.33333333333333%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  
}
.outerfit{
  overflow:hidden;
  position:relative;
  width: 239px;
  height: 200px;
  background-color: #f8f8f8;
  font-family: 'Open Sans',arial,sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
  border-top:1px solid #fff;
}
.outerfit .img{
  margin:0 auto;
  border: solid 1px #ddd;
  margin: -1px;
  background-color: #ccc;
  position:absolute;
  left:10px;
  top:10px;
}
.outerfit .title{
  top: 156px;
  width: 211px;
  position:absolute;
  left:19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}
.outerfit .shortdesc{
  font-size:11px;
  position:absolute;
  width: 150px;
  top: 174px;
  left: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #888;
}
.outerfit .overtop{
  background:#d9d9d9;
  position:relative;
  height:400px;
  cursor:pointer;
  -webkit-transition-duration: 200ms;
	-webkit-transition-property: top;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 200ms;
	-moz-transition-property: top;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 200ms;
	-o-transition-property: top;
	-o-transition-timing-function: ease;
}
.outerfit .overtop:hover{
  
  top:-200px;
}
.outerfit .next{
  margin-top:70px;
  z-index:2;
}
.outerfit .fill_a{
  
  background-color:#f8f8f8;
  position:relative;
  height:200px;
}
@media (max-width: 480px) {
 .col{
 width:100%;
}
}