* { box-sizing:border-box; }

body {
  font-family: Helvetica;
  background: linear-gradient(135deg, #ffd65e 33%,#febf04 86%,#febf04 92%,#febf04 95%,#febf04 95%);  
  -webkit-font-smoothing: antialiased;
}

hgroup { 
  text-align:center;
  margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #ff9000; font-family: 'Chango', cursive;}

h3 { color: #ff9000; }

form {
  width: 500px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: white;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
  position: relative; 
  margin-bottom: 45px; 
}

.image-logo{
  height:200px;
  width:450px ;
  margin: 0px;
}

a{
  text-decoration: none;
}

/*a i {
  margin-left:20%;
  color:orange;
  border-bottom: 1px solid #ff9000;
  text-decoration: none;

}*/


input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ffe500;
}

input:focus { outline: none; }


/* Label */

label {
  color: #ff7b00; 
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
  top: -20px;
  transform: scale(.75); left: -2px;
  /* font-size: 14px; */
  color: #ff7b00;
}


/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #ff9000; 
  transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
  from { background: #ff9000; }
  to  { width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: white;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #ffe500;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #ffa500;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #ff7b00; }


/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

footer { text-align: center; }

footer p {
  color: #ff9000;
  font-size: 13px;
  letter-spacing: .4px;
}

footer a {
  color: #ff9000;
  text-decoration: none;
  transition: all .2s ease;
}

footer a:hover {
  color: #ff9000;
  text-decoration: underline;
}

footer img {
  width: 80px;
  transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }

*{
    box-sizing: border-box;
}
body, html {
    margin: 0 !important;
    padding: 0 !important;
}
/* =Elements style
---------------------- */

.load-wrapp {
    background: #000;
  opacity: 1;
  position: fixed;
    z-index:10;
  top: 0px;
  width: 100%;
  height: 100vh; 
}

.load-wrapp:last-child {
    margin-right: 0;
}

.lines {
    margin-top: 20px;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader .line:nth-last-child(1) {
    animation: loading .6s .1s linear infinite;
    background-color: orange;
}

.loader .line:nth-last-child(2) {
    animation: loading .6s .2s linear infinite;
    background-color: orange;
}

.loader .line:nth-last-child(3) {
    animation: loading .6s .3s linear infinite;
    background-color: orange;
}

.loader .line:nth-last-child(4) {
    animation: loading .6s .4s linear infinite;
    background-color: orange;
}

.loader .line:nth-last-child(5) {
    animation: loading .6s .5s linear infinite;
    background-color: orange;
}

.loader .line:nth-last-child(6) {
    animation: loading .6s .6s linear infinite;
    background-color: orange;
}

@keyframes loading {
    0 {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

ul {
  margin:0;
  padding:0;
  text-decoration:none;
  list-style:none;
}
li {
  padding:0;
  margin:0;
}
nav {
  text-align:center;
  width:100%;
  position:relative;
  height:auto;
  overflow:hidden;
  background:none;
}
nav ul {
  text-align:center;
}
nav ul li {
  display:inline-block;
}
nav ul li a {
  color:#333;
  display:inline-block;
  padding:1em 3em;
  text-decoration:none;
  border-bottom:2px solid #fff;
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
  font-size:16px;
}
nav ul li a:hover {
  color: white;
}
.facebook-btn,
.gplus-btn {
  display: block;
  width: 100%;
  height: 35px;
  margin-top: 20px;
  padding: 0 7px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font: 14px roboto;
  text-align: left;
  transition: background-color 1s ease, color 0.7s ease, box-shadow 1s ease;
}

.facebook-btn {
  background-color: #3B5998;
  color: #fff;
}

.gplus-btn {
  background-color: #d34836;
  color: #fff;
}

.facebook-btn:hover,
.gplus-btn:hover {
  box-shadow: 0 0 1px #999;
  background-color: #fff;
}

.facebook-btn:hover {
  color: #3B5998;
}

.gplus-btn:hover {
  color: #d34836;
}

.facebook-btn i,
.gplus-btn i {
  display: inline-block;
  width: 50px;
  text-align: center;
  border-right: 1px solid #fff;
  margin-right: 10px;
  transition: border-right-color 0.7s ease;
}

.facebook-btn:hover i {
  border-right: 1px solid #3B5998;
}

.gplus-btn:hover i {
  border-right: 1px solid #d34836;
}

.facebook-btn span,
.gplus-btn span {
  text-transform: capitalize;
}